<ion-view title="Camera Tab Default Page" id="page2">
  <ion-content padding="true" class="has-header">
    <button id="cameraTabDefaultPage-button2" class="button button-positive button-block">ထိပါ</button>
    <div id="cameraTabDefaultPage-button-bar1" class="button-bar">
      <button id="cameraTabDefaultPage-button6" class="button button-positive button-block">1</button>
      <button id="cameraTabDefaultPage-button7" class="button button-positive button-block">2</button>
      <button id="cameraTabDefaultPage-button9" class="button button-positive button-block">၇</button>
      <button id="cameraTabDefaultPage-button8" class="button button-positive button-block">3</button>
    </div>
  </ion-content>
</ion-view>